* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background-color);

  --background-color:#ededed;

  --red-color: #D63322;
  --green-color: #1b9a26;

  --white-color: #FFF;
  --black-color: #182a33;

  --shadow-color: rgba(0, 0, 0, 0.25);
  --light-gray-color: rgba(0, 0, 0, 0.1);

  --text-black-color: #000;
  --text-gray-color: #333;
  --text-light-gray-color: #666;
  --text-white-color: #FFF
}

a {
  text-decoration: none;
}
